@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

:root {
  --color-primary: #FF066F;
  --color-secondary: #cc33ff;
  --color-bg: #000000;
  --color-surface: #111111;
  --color-text: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  overflow: hidden;
}
